<h2>Dev Account Approval</h2>

<%= form_for(resource, as: resource_name, url: approval_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<% end %>

<%= render "devise/shared/links" %>